@font-face {
    font-family: 'remindme-categories';
    src: url('./remindme-categories.woff2');
    font-weight: normal;
    font-style: normal;
}

.App {
    padding-top: 3em;
}

.gas {
    font-family: remindme-categories;
}

.gas:before {
    content: "\e81b";
}